@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: calc(65px);
}
footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #dfe6ed;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 117px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer-img {
  background-color: #fff;
  width: 64px;
  height: 89px;
  margin-left: 15px;
}
.footer-img img {
  width: 100%;
  height: 100%;
  padding: 10%;
}
.session-info {
  margin-left: 10px;
  font-size: 26px;
}
.pick {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.movies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 25px 0;
}
.movie-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 145px;
  height: 209px;
  background-color: #fff;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.35s ease-out 50ms;
}
.movie-box img {
  width: 100%;
  padding: 5%;
}
.movie-box:hover {
  box-shadow: 0 0 8px rgba(255, 145, 0, 0.733);
  transform: translate(0, -5px);
}
.schedule {
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100vw;
  height: 100%;
  margin-bottom: 117px;
}
.schedule-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  padding-left: 8%;
  padding-right: 4%;
  margin-bottom: 25px;
}
.schedule h3 {
  margin: 40px 0 16px 0;
}
.schedule-buttons {
  display: flex;
}
.time-button {
  color: #fff;
  background-color: #e8833a;
  border: none;
  margin-right: 20px;
  font-size: 18px;
  padding: 10px 14px;
  min-width: 73px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
form input {
  width: 326px;
  height: 51px;
  border: 1px solid #c7c7c7;
  margin-top: 11px;
  margin-bottom: 11px;
  font-size: 18px;
  padding-left: 11px;
  color: #928d8d;
}
form button {
  width: 225px;
  height: 42px;
  background-color: #e8833a;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
}
.buyer-input {
  width: 100%;
}
.seats-legends {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 79.2%;
}
.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 25px;
  gap: 10px;
  font-size: 13px;
  color: #4e5a65;
}
.green {
  color: #247a6b;
  font-weight: 700;
}
.invisivel {
  display: none;
}
